{% extends 'base.html.twig' %}

{% block body %}
{% for beer in beersCategory  %}
                <a href="{{ path('beer_show', { 'id' : beer.id }) }}">
                    {{ beer.name }}
                </a>
                <br/>
                {{ beer.description }}
{% endfor %}

{% endblock %}